* {
  box-sizing: border-box;
}

:root {
  --primary-color: #1ebfc1;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 68px;

  display: inline-block;
  min-width: 186px;
  border-radius: 14px;
  height: var(--height);
  line-height: var(--height);
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  background: var(--primary-color);
  text-align: center;
  transition: 0.25s;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.section-heading {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}

.section-desc {
  color: #767e7e;
  font-size: 1.4rem;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* Header */
.header {
  position: sticky;
  z-index: 1;
  top: -26px;
  background: #fff;
  padding-top: 40px;
}

.header-top {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__link {
  display: inline-block;
  color: #2f3a3b;
  font-size: 1.6rem;
  padding: 4px 20px;
  text-align: center;
  transition: 0.5s;
}

.nav__link--active,
.nav__link:hover {
  font-weight: 600;
  color: #2f3a3b;
  /* text-shadow: 1px 0 0 currentColor; */
}

.nav__link::before {
  content: attr(title);
  font-weight: 600;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action__signin {
  color: #494949;
  font-size: 1.6rem;
}

.header-action__signup {
  --height: 48px;

  min-width: 108px;
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6px;
  margin-left: 24px;
  transition: 0.5s;
}

.header-action__signup:hover {
  background: var(--primary-color);
  color: #fff;
}

/* Hero */
.hero {
  padding: 38px 0 79px;
}

.hero__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content {
  width: 39%;
  flex-shrink: 0;
}

.hero__sub {
  color: #767e7e;
  font-size: 1.4rem;
}

.hero__heading {
  margin-top: 18px;
}

.hero__desc {
  max-width: 374px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.78;
  margin-top: 46px;
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 52px;
}

.hero__play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
  margin-left: 50px;
  color: var(--primary-color);
  transition: 0.5s;
  cursor: pointer;
}

.hero__play:hover {
  background: var(--primary-color);
  color: #fff;
  scale: 1.1;
}

.hero__media {
  position: relative;
}

.hero__img {
  object-fit: cover;
  width: 576px;
  height: 631px;
}

.hero-course {
  position: absolute;
  top: 149px;
  left: -40px;
  width: 157px;
  height: 75px;
  background: #fefefd;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-course__row {
  position: absolute;
  display: flex;
  align-items: center;
}

.hero-course:hover,
.hero-schedules:hover,
.hero-students:hover {
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.hero-course__book {
  position: relative;
  width: 36px;
  height: 40px;
  background: #ff8282;
  border-radius: 5px 2px 2px 5px;
}

.hero-course__book::before {
  position: absolute;
  top: 28px;
  left: 4px;
  content: '';
  display: inline-block;
  width: 28px;
  height: 4px;
  background: #fff;
}

.hero-course__title {
  margin-left: 16px;
  max-width: 55px;
  line-height: normal;
}

.hero-title {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}

.hero-schedules {
  position: absolute;
  left: -65px;
  top: 453px;
  padding: 16px 25px 23px;
  text-align: center;
  border-radius: 24px;
  background: #fff;
}

.hero-schedules__title {
  margin-bottom: 16px;
}

.hero-schedules__img {
  width: 74px;
  height: 6px;
  margin-bottom: 12px;
}

.hero-schedules__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-schedules__img:last-child {
  display: block;
  width: 26px;
  height: 6px;
  margin-bottom: 0;
}

.hero-students {
  position: absolute;
  right: 45px;
  bottom: 41px;
  border-radius: 24px;
  background: #fefefd;
  padding: 17px 35px;
}

.hero-groups {
  margin-top: 8px;
}

.hero-groups__img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.5s;
}

.hero-groups__img:hover {
  scale: 1.1;
}

.hero-groups__img + .hero-groups__img {
  margin-left: -7px;
}

/* Features */
.features {
  margin: 65px 0;
  padding: 65px 0;
}

.features__sub {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.features__heading {
  max-width: 577px;
  margin-top: 18px;
  font-size: 4.2rem;
  line-height: 1.33;
}

.features__desc {
  max-width: 590px;
  margin-top: 18px;
  font-size: 1.8rem;
  line-height: normal;
}

.features__list {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.features__icon {
  transition: 0.5s;
  cursor: pointer;
}

.features__icon:hover {
  scale: 1.1;
}

.features-item__heading {
  margin-top: 26px;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
}

.features-item__desc {
  max-width: 223px;
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 1.69;
}

/* Courses */
.courses {
  margin-bottom: 132px;
}

.courses__sub {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.courses__heading {
  font-size: 4.2rem;
  margin-top: 18px;
}

.courses-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 19px;
}

.courses-row__desc {
  max-width: 525px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
}

.courses-row__view {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  transition: 0.5s;
}

.courses-row__view:hover {
  text-decoration-line: underline;
}

.courses__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 47px;
  margin-top: 79px;
}

.courses-item {
  position: relative;
}

.courses-item__img {
  object-fit: cover;
  width: 359px;
  height: 393px;
  opacity: 0.7;
  overflow: hidden;
  transition: 0.5s;
}

.courses-item__img:hover {
  scale: 1.1;
}

.courses-item__body {
  position: absolute;
  left: 17px;
  bottom: -124px;
  padding: 18px 25px 29px;
  width: 325px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses-item__heading {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.courses-item__price {
  margin-top: 16px;
  color: #767e7e;
  font-size: 1.6rem;
  line-height: normal;
}

.courses-item__price span {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.courses-item__desc {
  margin-top: 6px;
  color: #9da6a5;
  font-size: 1.4rem;
}

.courses-classes {
  position: relative;
  display: flex;
  margin-top: 18px;
}

.courses-classes__desc {
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
  margin: 0 10px;
}

.courses-classes__desc::before {
  position: relative;
  top: -2px;
  right: 10px;
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #1ebfc1;
}

/* Number */
.number {
  padding: 257px 0 132px;
}

.number__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 862px;
}

.number__desc {
  margin-top: 11px;
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
  line-height: normal;
}

/* Feedback */
.feedback {
  padding: 132px 0 130px;
}
.feedback__row {
  display: flex;
  justify-content: space-between;
}

.feedback-content {
  margin: 37px 0;
}

.feedback__desc {
  margin-top: 27px;
  max-width: 419px;
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 1.5;
}

.feedback-speaker {
  margin-top: 33px;
}

.feedback-speaker__name::before {
  position: relative;
  left: 0;
  top: -5px;
  display: inline-block;
  content: '';
  background: #070707;
  width: 8px;
  height: 2px;
}

.feedback-speaker__name {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
}

.feedback-speaker__name span {
  color: #767e7e;
  font-size: 1.6rem;
  line-height: normal;
}

.feedback__control {
  display: flex;
  margin-top: 52px;
  gap: 30px;
}

.control__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #575f66;
  outline: none;
  color: #575f66;
  background: #fff;
  transition: 0.25s;
}

.control__btn:hover {
  background: #2ac9bf;
  border-color: #2ac9bf;
  color: #fff;
  cursor: pointer;
}

.control-next-icon {
  rotate: 180deg;
}

.feedback-group {
  position: relative;
  width: 58%;
}

.feedback-img {
  position: absolute;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s;
}

.feedback-img:hover {
  scale: 1.1;
}

.feedback-img__biger {
  width: 235px;
  height: 235px;
  top: 107px;
  right: 171px;
}

.feedback-img__large {
  right: 0;
  top: 19px;
  width: 110px;
  height: 110px;
}

.feedback-img__medium {
  top: 0;
  left: 144px;
  width: 92px;
  height: 92px;
}

.feedback-img__small {
  width: 78px;
  height: 78px;
}

.feedback-img:nth-child(4) {
  right: 32px;
  bottom: 29px;
}

.feedback-img:nth-child(5) {
  bottom: 0;
  right: 389px;
}

.feedback-img:nth-child(6) {
  left: 0;
  bottom: 145px;
}

/* Ready */
.ready {
  background: #def6f5;
  padding: 76px 0 88px;
}

.ready__row {
  display: flex;
  align-items: center;
}

.readey-content {
  width: 35.9%;
  margin-right: 410px;
}

.ready__heading {
  color: #070707;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: normal;
}

.ready__desc {
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: normal;
}

/* Footer */
.footer {
  padding-top: 131px;
}

.footer__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 142px;
}

.footer__heading {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
}

.footer__list {
  margin-top: 26px;
}

.footer__item {
  margin-bottom: 20px;
}

.footer__link {
  color: #535353;
  font-size: 1.6rem;
  line-height: normal;
  transition: 0.5s;
  white-space: nowrap;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__social {
  margin-top: 20px;
}

.footer__social-item {
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: normal;
}

.footer__social-item a {
  display: flex;
  align-items: center;
  gap: 9px;
  color: #535353;
  transition: 0.5s;
}

.footer__social-item a:hover {
  scale: 1.1;
  text-decoration: underline;
}

.footer__copyright {
  padding: 60px 0 50px;
  color: #b0b5b4;
  text-align: center;
  font-size: 1.8rem;
  line-height: normal;
}
